  .star {
    color: lightgray;
  }
  
  .star.filled {
    color: gold;
  }
  
  .star.half-filled {
    color: gold;
    background: linear-gradient(90deg, gold 50%, lightgray 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: #999; /* darker gray on hover */
    opacity: 1;
}

/* Make the arrow icons inside look right */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.badge{
  font-size:large;
  font-weight:450;
}