.star {
    color: lightgray;
  }
  
  .filled {
    color: gold;
  }
  
  .half-filled {
    color: gold;
    background: linear-gradient(90deg, gold 50%, lightgray 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
