<!doctype html>
<title>{% block title %}Welcome{% endblock %} | SceneIt!</title>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="{{ url_for('static', filename='stars.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='stars.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='review.css') }}">
</head>

<header>
  <div class="nav-container">
      <div class="logo-container">
        <a href="{{ url_for('dashboard') }}">
          <img src="{{ url_for('static', filename='logo4.png') }}" alt="SceneIt Logo" class="logo">
        </a>
      </div>
      <nav class="topnav">
          <a href="{{ url_for('dashboard') }}">Home</a>
          <a href="{{ url_for('profile') }}">Profile</a>
          <a href="{{ url_for('search') }}">Search</a>
          <a href="{{ url_for('friends') }}">Friends</a>
          <a href="{{ url_for('logout') }}">Logout</a>
      </nav>
  </div>
</header>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<div class="body">
  {% block body %}{% endblock %}
</div>
