<!doctype html>
<title>{% block title %}Welcome{% endblock %} | SceneIt!</title>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<header>
  <div class="nav-container">
      <div class="logo-container">
        <a href="{{ url_for('dashboard') }}">
          <img src="{{ url_for('static', filename='logo4.png') }}" alt="SceneIt Logo" class="logo">
        </a>
      </div>
      <nav class="topnav">
          <a href="{{ url_for('dashboard') }}">Home</a>
          <a href="{{ url_for('profile') }}">Profile</a>
          <a href="#search">Search</a>
          <a href="#friends">Friends</a>
          <a href="#about">About</a>
      </nav>
  </div>
</header>
<div class="body">
  {% block body %}{% endblock %}
</div>
