{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block body %}

<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='review.css') }}">
    <title>SceneIt - Profile</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <header class="mt-4">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <h2 class="text-white">{{ username }}'s Profile</h2>
        <p class="text-white">Welcome to your profile</p>
    </header>
    <section class="text-center mb-5">
        <h4 class="site-theme">Favorite Movies</h4>
        <p class="text-muted">See what your favorite movies are</p>
        
        {% if favorite_movies %}
            <div id="favmovieCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for movie_group in favorite_movies|batch(4, '') %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="d-flex justify-content-center">
                                {% for movie in movie_group %}
                                    {% if movie %}
                                        <div class="col-md-3">
                                            <div class="card mb-4" style="height: 45rem;">
                                                <img src="{{ movie.poster_url or 'https://via.placeholder.com/300x450?text=No+Image' }}" class="card-img-top" alt="{{ movie.title }}">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h5 class="card-title truncate" style="-webkit-line-clamp: 2">{{ movie.title }}</h5>
                                                        <div class="star-score" data-score="{{ movie.average_rating }}"></div>
                                                    </div>
                                                    <p class="card-text"><strong>Director:</strong> {{ movie.director }}</p>
                                                    <p class="card-text"><strong>Release Date:</strong> {{ movie.release_date }}</p>
                                                    <a href="{{ url_for('movie_detail', movie_id=movie.id) }}" class="btn btn-primary">View Movie</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
    
                <!-- Carousel Controls -->
                <a class="carousel-control-prev" href="#favmovieCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#favmovieCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        {% else %}
            <p>You haven't added any favorite movies yet.</p>
        {% endif %}
    </section>
    <section class="text-center mb-5">
        <h4 class="site-theme">Rated Movies</h4>
        <p class="text-muted">See what your recently rated movies are</p>
        {% if rated_movies %}
        <div id="reviewCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for review in rated_movies|batch(4, '') %}
              <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="d-flex justify-content-center">
                  {% for r in review %}
                  {% if r %}
                  <div class="card m-2" style="width: 22.5rem;height: 15rem;">
                    <div class="card-body">
                      <div class="card-title">
                        <div class="d-flex justify-content-between align-items-center">
                          <h5 class="movie-title">{{ r.title }}</h5>
                          <div class="star-score" data-score="{{ r.rating }}"></div>
                        </div>
                      </div>
                      <p class="truncate">"{{ r.comment }}"</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small>{{ r.date }}</small>
                        </div>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          
            <a class="carousel-control-prev" href="#reviewCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#reviewCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
        {% else %}
            <p>You haven't rated any movies yet.</p>
        {% endif %}
    </section>
    <section class="text-center mb-5">
        <h4 class="site-theme">Watch List</h4>
        <p class="text-muted">See what on your watch list</p>
        {% if watchlist_movies %}
            <div id="movieCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for movie_group in watchlist_movies|batch(4, '') %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="d-flex justify-content-center">
                                {% for movie in movie_group %}
                                    {% if movie %}
                                        <div class="col-md-3">
                                            <div class="card mb-4" style="height: 45rem;">
                                                <img src="{{ movie.poster_url or 'https://via.placeholder.com/300x450?text=No+Image' }}" class="card-img-top" alt="{{ movie.title }}">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h5 class="card-title truncate" style="-webkit-line-clamp: 2">{{ movie.title }}</h5>
                                                        <div class="star-score" data-score="{{ movie.average_rating }}"></div>
                                                    </div>
                                                    <p class="card-text"><strong>Director:</strong> {{ movie.director }}</p>
                                                    <p class="card-text"><strong>Release Date:</strong> {{ movie.release_date }}</p>
                                                    <a href="{{ url_for('movie_detail', movie_id=movie.id) }}" class="btn btn-primary">View Movie</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
    
                <!-- Carousel Controls -->
                <a class="carousel-control-prev" href="#movieCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#movieCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        {% else %}
            <p>Your watchlist is empty.</p>
        {% endif %}
    </section>
    <section class="text-center mb-5">
        <h4 class="site-theme">Favorite Genres</h4>
        <p class="text-muted">Your top three favorite genres</p>
        <h6><i>If you wish to update them use the drop down</i></h6>
        <!--Display the favorite Genres-->
        <!--Option to change genres-->
        <form method="POST" action="{{ url_for('profile') }}">
            <div class="genre_dropdown">
                <select name="genre1" id="genre1">
                    <option value="" disabled {% if selected_genres|length == 0 %}selected{% endif %}>Select a genre</option>
                    {% for genre in ["Action", "Adult", "Adventure", "Animation", "Biography", "Comedy", "Crime",
                                     "Documentary", "Drama", "Family", "Fantasy", "Film Noir", "Game Show", "History",
                                     "Horror", "Musical", "Music", "Mystery", "News", "Reality-TV", "Romance", "Sci-Fi",
                                     "Short", "Sport", "Talk-Show", "Thriller", "War", "Western"] %}
                        <option value="{{ genre }}" {% if selected_genres|length > 0 and selected_genres[0] == genre %}selected{% endif %}>{{ genre }}</option>
                    {% endfor %}
                </select>
                <select name="genre2" id="genre2">
                    <option value="" disabled {% if selected_genres|length == 0 %}selected{% endif %}>Select a genre</option>
                    {% for genre in ["Action", "Adult", "Adventure", "Animation", "Biography", "Comedy", "Crime",
                                     "Documentary", "Drama", "Family", "Fantasy", "Film Noir", "Game Show", "History",
                                     "Horror", "Musical", "Music", "Mystery", "News", "Reality-TV", "Romance", "Sci-Fi",
                                     "Short", "Sport", "Talk-Show", "Thriller", "War", "Western"] %}
                        <option value="{{ genre }}" {% if selected_genres|length > 1 and selected_genres[1] == genre %}selected{% endif %}>{{ genre }}</option>
                    {% endfor %}
                </select>            
                <select name="genre3" id="genre3">
                    <option value="" disabled {% if selected_genres|length == 0 %}selected{% endif %}>Select a genre</option>
                    {% for genre in ["Action", "Adult", "Adventure", "Animation", "Biography", "Comedy", "Crime",
                                     "Documentary", "Drama", "Family", "Fantasy", "Film Noir", "Game Show", "History",
                                     "Horror", "Musical", "Music", "Mystery", "News", "Reality-TV", "Romance", "Sci-Fi",
                                     "Short", "Sport", "Talk-Show", "Thriller", "War", "Western"] %}
                        <option value="{{ genre }}" {% if selected_genres|length > 2 and selected_genres[2] == genre %}selected{% endif %}>{{ genre }}</option>
                    {% endfor %}
                </select>
                
                <button type="submit">Update</button>
            </div>
        </form>
    </section>
</body>
{% endblock %}